.css{
    width: 520px;
    margin-top: 20px;
    border: 2px solid mediumaquamarine;
    padding: 10px;
    margin: 15px;
    border-radius: 10px;
}
a{
    text-decoration: none;
    color: blue;
}
p{
    font-size: 20px;
    margin: 5px;
    padding: 15px;
    border: 1px solid mediumaquamarine;
    border-radius: 8px;
}